<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
<div class="row" style="height: 900px; background-color: white">
    <div class="col-md-12" id="main">

    </div>
    <input type="button" class="btn col-md-4" value="客户" onclok="doclick('1002')">
    <input type="button" class="btn col-md-4" value="营业部" onclok="doclick('1002')">
    <input type="button" class="btn col-md-4" value="成品定式" onclok="doclick('1002')">
</div>
</body>
<script>
    alert()

</script>
</html>